.allChips {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  justify-content: center;
}

.chipGroup {
  border-bottom: 2px solid black;
  margin: 10px;
}

/* Media queries for responsive column layout */
/* @media (min-width: 576px) {
  .allChips {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .allChips {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .allChips {
    grid-template-columns: repeat(4, 1fr);
  }
} */

/* Optional: Adjust chip layout within each group */
/* .chipGroup .mantine-Group-root {
} */
