/* ResultsDisplay.module.css */

.resultsContainer {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.grid {
  display: grid;
}

.bookRatingTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookContainer {
  position: relative;
  display: flex;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
}

[data-mantine-color-scheme="dark"] .bookContainer {
  border: 1px solid #585858;
}

.bookContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.bookCoverContainer {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 0.5rem;
  height: 200px;
  width: auto;
  max-width: 200px;
  overflow: clip;
}

.bookCover {
  cursor: pointer;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconOverlay {
  position: absolute;
  right: 2px; /* Adjust as needed */
  top: 100px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.bookContainer:hover .iconOverlay {
  opacity: 1;
  pointer-events: auto;
}

.icon {
  transition: all 0.3s ease;
}

.iconContainer:hover .icon {
  transform: scale(1.1);
}

.title {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.author {
  font-size: 0.9rem;
  color: #666;
}

.author {
  font-style: italic;
}

.mantine-Modal-body {
  display: flex;
  justify-content: center;
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 400px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 780px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
