.grid {
  --grid-justify: unset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* Ensure that the direction is set to row */
  justify-content: center; /*Adjust alignment as needed*/
}

.column {
  --col-flex-basis: unset;
  height: max-content;
  padding: 20px;
  flex-basis: auto;
}

@media (min-width: em(750px)) {
  .column {
    --col-flex-basis: unset;
    column-count: "3";
    height: max-content;
    padding: 20px;
    flex-basis: auto;
  }
}
